#u1180 {
    border-width: 0px;
    border-color: transparent;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    background: #FFFFFF url("../images/stars.jpg?crc=3845824019") repeat center center;
}